coveralls
jsonschema
geojson
pytest
pytest-cov
git+git://github.com/ausseabed/qajson.git@master#egg=ausseabed.qajson
git+git://github.com/ausseabed/pyall.git@master#egg=pyall
git+git://github.com/ausseabed/pygsf.git@master#egg=pygsf
